* {
    margin: 0;
    padding: 0;
}

/* layout */
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;

    display: flex;
    flex-direction: column;
}

@media (min-width: 640px) {
    .container {
        padding: 0 16px;
    }
}

@media (min-width: 1024px) {
    .container {
        padding: 0 32px;
    }
}

.chart {
    height: 600px;
    margin-top: 50px;
}